<% if tasks.any? %>
  <ul class="tasks">
    <% tasks.each do |task| %>
      <li class="<%= 'complete' if task.completed %>"><%= task.title %></li>
      <%= render 'tasks', :tasks => task.children %>
    <% end %>
  </ul>
<% end %>
