<% content_for :content do %>
  <div class="row-fluid">

    <div class="span10">
      <% [:notice, :error, :alert, :success].each do |level| %>
        <% unless flash[level].blank? %>
          <div class="<%= flash_class(level) %>">
            <%= content_tag :span, flash[level] %>
          </div>
        <% end %>
      <% end %>

      <%= content_for?(:task_content) ? yield(:task_content) : yield %>
    </div>
  </div>
  
<% end %>



<%= render template: "layouts/application" %>